.contacts {
  color: $c-black;

  &__title {
    font-family: $fs-base;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }

  &__tel {
    font-family: $f-lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
  }

  &__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
  }
}
