mixin header()
  header.header 
    .wrapper.header__wrapper 
      .header__subtitle
        h3 The geniuses behind our work
      .header__title
        h1 Our team
      .header__logo
        img(src="./assets/images/sharp.png", alt="sharp")