//- * Blog

mixin blog ()
  .wrapper.blog__wrapper 
    .blog__title
      span Blog 
    .blog__info
      .info.info-1
        img(src="./assets/images/info-1.jpg" alt="img")
      .info.info-2 
        .info__subtitle 
          span Technology, Interface Design
        .info__title 
          h3 Using UX Design to Build a Sustainable Future
        .info__text 
          p Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
            <svg class="icon icon-arrow-1"><use xlink:href="#icon-arrow-1"></use></svg>
      .info.info-3 
        .info__subtitle 
          span Technology, Interface Design
        .info__title 
          h3 Using UX Design to Build a Sustainable Future
        .info__text 
          p Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
            <svg class="icon icon-arrow-1"><use xlink:href="#icon-arrow-1"></use></svg>
      .info.info-4
        img(src="./assets/images/info-2.jpg" alt="img")