//- * Footer

mixin footer()
  footer.wrapper.footer
    .footer__wrapper
      .footer__contacts
        +contacts
      .footer__social-block
        +socialBlock
      .footer__copyright
        span © Copyright Manifest Theme. Allrights reserved