mixin popular()
  .wrapper.popular__wrapper 
    .popular__title
      span The Most Popular
      span.view View All
        <svg class="icon icon-arrow-1"><use xlink:href="#icon-arrow-1"></use></svg>
        
    .popular__blocks
      .popular__blocks-item
        img(src="./assets/images/popular-1.jpg" alt="img")
        .popular__blocks-signing 
          span Interface Design
          span 8 June, 2020
        .popular__blocks-title 
          h4 Mentorship Match — How a simple LinkedIn feature can boost diversity
        .popular__blocks-text 
          p LinkedIn is on a clear mission to make professionals more successful by connecting the global workforce and as we learned — diversity and success go hand in hand
          
      .popular__blocks-item
        img(src="./assets/images/popular-2.jpg" alt="img")
        .popular__blocks-signing 
          span Visual Design
          span 8 June, 2020
        .popular__blocks-title 
          h4 Creativity vs. UX
        .popular__blocks-text 
          p Is it possible to create a delightful user experience without following best UX practices?