// * People block


.people {
  text-align: center;
  margin: 120px auto;
  width: 1200px;

  &__text {
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
  }

  &__list {
    width: 100%;
    grid-gap: 30px;
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "p-1 p-3 p-4"
    "p-2 p-3 p-10"
    "p-5 p-6 p-10"
    "p-5 p-7 p-7"
    "p-8 p-8 p-9"
    ;
  }

  &__item {
    background-size: cover;
    opacity: 0.85;
    transition: all 0.3s;
    position: relative;

    // grid area
    &-p-1 {
      grid-area: p-1;
    }
    &-p-2 {
      grid-area: p-2;
    }
    &-p-3 {
      grid-area: p-3;
    }
    &-p-4 {
      grid-area: p-4;
    }
    &-p-5 {
      grid-area: p-5;
    }
    &-p-6 {
      grid-area: p-6;
    }
    &-p-7 {
      grid-area: p-7;
    }
    &-p-8 {
      grid-area: p-8;
    }
    &-p-9 {
      grid-area: p-9;
    }
    &-p-10 {
      grid-area: p-10;
    }
}

  &__item:hover .icon {
    opacity: 1;
    cursor: url(../assets/images/svg/hand-point-up.png), default;
    display: block;
  }
}