* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
* {
  transition: all 0.1s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: var(--c-link);
  text-decoration: none;
  display: inline-block;
}

/* to main page */

.panel {
  padding: 20px;
  background-color: #e5e5e5;
  position: absolute;
  opacity: 0.6;
  border-radius: 20px;
  border: 3px solid var(--c-darkblue)
}

.panel-list {
  list-style: none;
}

.panel-item {
  color: var(--c-black);
  font-size: 21px;
  margin: auto;
  font-weight: 600;
}

/* * Border */

.main-board {
  border: 15px solid var(--c-darkblue);
  background-color: var(--c-main-blue);
}

.weather {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.weather-board {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.weather-text {
  color: var(--c-white);
  font-size: 21px;
  margin: auto;
}

.weather-list {
  list-style: none;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 0;
  cursor: pointer;
}

.weather-item {
  display: inline-block;
  width: 100%;
  padding: 25px;
  font-size: var(--f-inblock);
  color: var(--c-white);
  line-height: 19px;
  border: 1px solid var(--c-white);
  opacity: 1;
  text-align: center;
}

.weather-item-text{
margin-bottom: 15px;
}

.weather-grad{
  color: var(--c-white);
  font-size: 22px;
  line-height: 26px;
  line-height: 42px;
  vertical-align: top;
}


.weather-list:hover .weather-item:not(:hover) {
  opacity: 0.6;
}

img {
  width: 45px;
  height: 45px;
}


/* * Panel nice day */

.nice-day-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.nice-day {
  color: var(--c-white);
  font-size: var(--f-info);
  margin-top: 30px;
  width: 100%;
}

.small {
  max-width: 25%;
}

.midl {
  max-width: 50%;
}

#lisbon {
  background-color: var(--c-blue);
}

#paris {
  background-color: var(--с-turquoise);
}

#belgrade {
  background-color: var(-c-lilac);
}

#enice {
  background-color: var(--c-red);
}

#tel-avive {
  background-color: var(--c-orange);
}

#cair {
  background-color: var(--c-yellow);
}

#new-york {
  background-color: var(--c-salat);
}

#new-delhi {
  background-color: var(--c-marsh);
}

#san-francisco {
  background-color: var(--с-pink);
}

#tokyo {
  background-color: var(--c-green);
}

#sydney {
  background-color: var(--с-fiolet);
}
