* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 1px solid red;
}

body {
  font-family: $ff-base;
  font-size: $fs-base + px;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: em(60);
  line-height: 66px;
}

h2 {
  font-size: em(36);
  line-height: 42px;
}

h3 {
  font-size: em(18);
  line-height: 24px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1170;
  padding-left: 70px;
  padding-right: 70px;
}
