include ./src/components/index
include ./src/elements/index


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./index.css")
    title Document
  body 
    .app
      +button
      il.list
        +list-item("test1", true)
        +list-item("testtest3")
        +list-item("test")
        +list-item
        +list-item
        +list-item("opapapa")
        +list-item
        +list-item
        +list-item