//- Banner

mixin banner ()
  .wrapper.banner
    .banner__wrapper
      .banner__img
        img(src="./assets/images/banner.jpg", alt="banner").banner__img--base
        img(src="./assets/images/banner-2.jpg", alt="banner").banner__img--mobile
      .banner__title 
        span Manifest is a newborn theme. Clean, simple and fast.