//- Banner

mixin banner ()
  .wrapper.banner
    .banner__wrapper 
      img(src="./assets/images/banner.jpg", alt="")
      .banner__title 
        span Manifest is a newborn theme. Clean, simple and fast.