//- * Header

mixin header()
  header.wrapper.header 
    .header__wrapper
      .header__logo
        a.logo(href="./index.html") 
          img(src="./assets/images/logo.png" alt="logo")
      .header__menu
        .header__navigation#js-header-navigation
          +navigation()
        .header__search
          <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
        .header__burger
          +burger