mixin socialBlock()
  .social-block
    .social-block__item
      <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
    .social-block__item
      <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
    .social-block__item
      <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    .social-block__item
      <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>