:root {
  --c-black: #070707;
  --c-gray: #828282;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--c-gray);
}

a:hover {
  color: var(--c-black);
}

/* * Navigation */

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-top: 20px;
  /* border: 1px solid red; */
}

.navigation {
  text-align: center;
  border-bottom: 1px solid var(--c-gray);
}

.navigation-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-right: 40px;
}

.navigation-item {
  color: var(--c-gray);
}

/* * Banner */

.banner-name {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: var(--c-black);
  margin-top: 60px;
}

.banner-img-block {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
}

/* *About me */

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f6f6f6;
}

.about-me {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: var(--c-black);
}

.about-me-punkt {
  margin: 0 auto;
  max-width: 1000px;
  width: 480px;
  margin-top: 30px;
}

.about-me-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 40px;
}

.about-me-item:last-child {
  margin-bottom: 0;
}
