@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Red_Hat_Display';
  src: url(./assets/fonts/red_hat_display/RedHatDisplay-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Red_Hat_Display';
  src: url(./assets/fonts/red_hat_display/RedHatDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Red_Hat_Display';
  src: url(../assets/fonts/red_hat_display/RedHatDisplay-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}