// * Colors
$c-white: #FFFFFF;
$c-darck-white: #E5E5E5;
$c-light-grey: #F4F4F4;
$c-grey: #7B7B7B;
$c-darck-grey: #565656;
$c-black: #000000;

// * Font size

$fs-base: 14;


$f-lato: 'Lato', sans-serif;
$f-red-hat: 'Red_Hat_Display', sans-serif;

$t-normal: all 0.3s;

