.buttons {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  margin-bottom: 20px;
}

.button {
  border: none;
  border: 1px solid $c-ligt-gray;
  border-radius: 6px;
  background-color: $c-blue;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 46px;
  width: 150px;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  color: $c-white;
}

.button--full {
  width: 100%;
}