// * Colors
$c-white: #FFFFFF;
$c-grey: #969696;
$c-ligt-gray: #E4E4E4;
$c-black: #1C1C1C;
$c-blue: #007BFF;
$c-white-light: #E5E5E5;
$c-light-black: #545454;

// * Font size

$fs-base: 14;


$ff-base: 'Roboto', sans-serif;



