mixin navigation()
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a(href="#") home
      li.navigation__item
        a(href="#") about
      li.navigation__item
        a(href="#") works
      li.navigation__item
        a(href="#") blog
      li.navigation__item
        a(href="#") contact